<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>sencjw - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
  </head>
  <body>

    <header>
      <h1>sencjw</h1>
      <h2>a place I put stuff</h2>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/archive.html">Archive</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="/talks.html">Talks</a></li>
        <li><a href="/the_square_root_of_christmas.html">The Square Root of Christmas</a></li>
        <li><a href="/transparent_web.html">The Transparent Web (book)</a></li>
      </ul>
    </nav>

    <section>
      $body$
    </section>

  </body>
</html>
